target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore JDKs and large binaries
*.dylib
*.so
*.dll
*.jar
*.zip
*.tar.gz
*.7z
*.bin
*.class

# Specific to your case:
graalvm-jdk*/
jdk*/
jre*/
dependency-reduced-pom.xml
jmccc-temp/
backups/
launcher_settings.dat
settings.json
run.bat
run.sh
